In [1]:
import pandas as pd
import itertools
from sklearn.linear_model import Ridge
from dateutil.relativedelta import relativedelta
from sklearn.metrics import mean_absolute_error
import numpy as np
%matplotlib inline

In [3]:
data = pd.read_csv('/dsg/demand_anonymized_20170802.csv', delimiter=';', parse_dates=["Month"])
eval = pd.read_csv('/dsg/eval.csv')

In [4]:
# create aggregated by month series
series = data.groupby(["SalOrg", "Material", "Month"]).agg({ "OrderQty":"sum", 
                                                            "PRICE": "median", 
                                                            "Name_Of_Competitor":"mean",
                                                           "COMP_PRICE_MIN":"mean",
                                                           "COMP_PRICE_AVG":"mean",
                                                           "COMP_PRICE_MAX":"mean" }).reset_index()
series = series.sort_values(by=["SalOrg", "Material", "Month"])
series['PRICE_DIFF'] = series['PRICE'] - series['COMP_PRICE_AVG']
series.head()

,SalOrg,Material,Month,COMP_PRICE_AVG,OrderQty,COMP_PRICE_MAX,COMP_PRICE_MIN,Name_Of_Competitor,PRICE,PRICE_DIFF
0,97LK,00IYcj,2012-05-01,170.1,2,170.1,170.1,1.0,137.7,-32.4
1,97LK,00IYcj,2012-06-01,170.1,13,170.1,170.1,1.0,137.7,-32.4
2,97LK,00IYcj,2012-07-01,170.1,1,170.1,170.1,1.0,137.7,-32.4
3,97LK,00IYcj,2012-09-01,170.1,30,170.1,170.1,1.0,137.7,-32.4
4,97LK,00IYcj,2012-11-01,170.1,1,170.1,170.1,1.0,137.7,-32.4

In [5]:
# fill empty
eval_comb = eval[['Material', 'SalOrg']]
eval_comb = list(set([tuple(x) for x in eval_comb.values]))

comb = list(itertools.product(*[eval_comb, list(series['Month'].unique())]))
comb = [(t[0], t[1], m) for t, m in comb]

series2 = pd.DataFrame(comb, columns=['Material', 'SalOrg', 'Month'])
series2 = series2.sort_values(by=['Material', 'SalOrg', 'Month' ])
series2 = series2.merge(series, on=['Month', 'Material', 'SalOrg'], how='left')
series2['PRICE_DIFF'] = series2['PRICE_DIFF'].fillna(series2['PRICE_DIFF'].mean())
series2['Name_Of_Competitor'] = series2['Name_Of_Competitor'].fillna(series2['Name_Of_Competitor'].mean())
series2['COMP_PRICE_MIN'] = series2['COMP_PRICE_MIN'].fillna(series2['COMP_PRICE_MIN'].mean())
series2['COMP_PRICE_AVG'] = series2['COMP_PRICE_AVG'].fillna(series2['COMP_PRICE_AVG'].mean())
series2['COMP_PRICE_MAX'] = series2['COMP_PRICE_MAX'].fillna(series2['COMP_PRICE_MAX'].mean())
series2['PRICE'] = series2['PRICE'].fillna(series2['PRICE'].mean())
series2['OrderQty'] = series2['OrderQty'].fillna(0)

In [6]:
series2['OrderQtyLog'] = np.log1p(series2['OrderQty'])

In [7]:
# create lagged features
def lag_feature(df, colname, lag, adv):
    cols_lagged = []
    for i in range(lag, 0, -1):
        col_lagged = '{}(t-{})'.format(colname, i)
        df[col_lagged] = df.groupby(by=['SalOrg', 'Material'])[colname].shift(i)
        cols_lagged.append(col_lagged)
    cols_adv = []
    for i in range(1, adv):
        col_adv = '{}(t+{})'.format(colname, i)
        df[col_adv] = df.groupby(by=['SalOrg', 'Material'])[colname].shift(-i)
        cols_adv.append(col_adv) 
        
    return df, cols_lagged, cols_adv

series, lagged_pr, adv = lag_feature(series2, 'OrderQtyLog', 12, 3)
series, lagged_1, _ = lag_feature(series, 'COMP_PRICE_MIN', 12, 0)
series, lagged_2, _ = lag_feature(series, 'PRICE_DIFF', 12, 0)
series, lagged_3, _ = lag_feature(series, 'COMP_PRICE_AVG', 12, 0)
series, lagged_4, _ = lag_feature(series, 'COMP_PRICE_MAX', 12, 0)
lagged = lagged_pr + lagged_1 + lagged_2 + lagged_3 + lagged_4
series.head()

,Material,SalOrg,Month,COMP_PRICE_AVG,OrderQty,COMP_PRICE_MAX,COMP_PRICE_MIN,Name_Of_Competitor,PRICE,PRICE_DIFF,...,COMP_PRICE_MAX(t-10),COMP_PRICE_MAX(t-9),COMP_PRICE_MAX(t-8),COMP_PRICE_MAX(t-7),COMP_PRICE_MAX(t-6),COMP_PRICE_MAX(t-5),COMP_PRICE_MAX(t-4),COMP_PRICE_MAX(t-3),COMP_PRICE_MAX(t-2),COMP_PRICE_MAX(t-1)
0,00GB1f,yqSu,2012-01-01,239.210419,0.0,245.554231,233.012279,0.390422,258.79165,-2.350168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00GB1f,yqSu,2012-02-01,239.210419,0.0,245.554231,233.012279,0.390422,258.79165,-2.350168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,245.554231
2,00GB1f,yqSu,2012-03-01,239.210419,1.0,245.554231,233.012279,0.000000,258.79165,-2.350168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,245.554231,245.554231
3,00GB1f,yqSu,2012-04-01,239.210419,3.0,245.554231,233.012279,0.000000,258.79165,-2.350168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,245.554231,245.554231,245.554231
4,00GB1f,yqSu,2012-05-01,239.210419,2.0,245.554231,233.012279,0.000000,258.79165,-2.350168,...,NaN,NaN,NaN,NaN,NaN,NaN,245.554231,245.554231,245.554231,245.554231

In [8]:
def create_agg_features(data, columns, name):
    temp = data.loc[(data["Month"] > pd.to_datetime('2014-09-01'))&
                    (data["Month"] < pd.to_datetime('2016-09-01'))].groupby(columns)["OrderQty"].agg(["median", "mean", "std", "min", "max"]).reset_index()
    new_cols = [col + name for col in ["median", "mean", "std", "min", "max"]]
    temp.columns = columns + new_cols
    return temp, new_cols

sm_temp, sm_cols = create_agg_features(series, ["SalOrg", "Material"], "_s_m_")
series = series.merge(sm_temp, how='left', on=["SalOrg", "Material"])

s_temp, s_cols = create_agg_features(series, ["SalOrg"], "_s_")
series = series.merge(s_temp, how='left', on=["SalOrg"])

m_temp, m_cols = create_agg_features(series, ["Material"], "_m_")
series = series.merge(m_temp, how='left', on=["Material"])

series.head()

,Material,SalOrg,Month,COMP_PRICE_AVG,OrderQty,COMP_PRICE_MAX,COMP_PRICE_MIN,Name_Of_Competitor,PRICE,PRICE_DIFF,...,median_s_,mean_s_,std_s_,min_s_,max_s_,median_m_,mean_m_,std_m_,min_m_,max_m_
0,00GB1f,yqSu,2012-01-01,239.210419,0.0,245.554231,233.012279,0.390422,258.79165,-2.350168,...,0.0,25.389641,202.069177,0.0,13540.0,0.0,0.26087,0.448978,0.0,1.0
1,00GB1f,yqSu,2012-02-01,239.210419,0.0,245.554231,233.012279,0.390422,258.79165,-2.350168,...,0.0,25.389641,202.069177,0.0,13540.0,0.0,0.26087,0.448978,0.0,1.0
2,00GB1f,yqSu,2012-03-01,239.210419,1.0,245.554231,233.012279,0.000000,258.79165,-2.350168,...,0.0,25.389641,202.069177,0.0,13540.0,0.0,0.26087,0.448978,0.0,1.0
3,00GB1f,yqSu,2012-04-01,239.210419,3.0,245.554231,233.012279,0.000000,258.79165,-2.350168,...,0.0,25.389641,202.069177,0.0,13540.0,0.0,0.26087,0.448978,0.0,1.0
4,00GB1f,yqSu,2012-05-01,239.210419,2.0,245.554231,233.012279,0.000000,258.79165,-2.350168,...,0.0,25.389641,202.069177,0.0,13540.0,0.0,0.26087,0.448978,0.0,1.0

In [9]:
# validation folds
def create_validation(data, date, m):
    return data[(data["Month"] > pd.to_datetime(date) - relativedelta(months=m))&
                (data["Month"] < pd.to_datetime(date))].index, data[(data["Month"] >= pd.to_datetime(date)) & 
                (data["Month"] < pd.to_datetime(date) + relativedelta(months=3))].index

validation_months = ['2016-09-01', '2016-10-01', '2016-11-01']

folds = []
for month in validation_months:
    fold = create_validation(series, month, 3)
    folds.append(fold)

In [10]:
all = len(series.groupby(by=['SalOrg', 'Material']))

In [18]:
errors = {}
all_errors = []
features = lagged + sm_cols + m_cols + s_cols

for fold in folds:
    fold_errors = []
    
    processed = 1
    for index, group in series.groupby(by=['SalOrg', 'Material']):
        if index not in errors:
            errors[index] = []
        
        train_s = group.loc[group.index.intersection(fold[0])]
        test_s = group.loc[group.index.intersection(fold[1])]
        
        train_y = train_s[['OrderQtyLog'] + adv]
        train_x = train_s[features]

        test_y = test_s[['OrderQtyLog'] + adv]
        test_x = test_s[features]

        model = Ridge(alpha=12)
        model.fit(train_x, train_y)

        test_y_predicted = model.predict(test_x)
        test_y_predicted[test_y_predicted < 0] = 0

        error = mean_absolute_error(np.expm1(test_y), np.expm1(test_y_predicted))
        
        errors[index].append(error)
        all_errors.append(error)
        fold_errors.append(error)
        
        processed += 1
        if(processed % 1000 == 0):
            print('Trained {}/{} models, mean fold error: {}'.format(processed, all, np.mean(fold_errors)))
        
    print('Mean fold error: {}'.format(np.mean(fold_errors)))
    
np.mean(all_errors)

Trained 1000/38676 models, mean fold error: 14.840949474542642
Trained 2000/38676 models, mean fold error: 15.860454165722533
Trained 3000/38676 models, mean fold error: 13.169781685821365
Trained 4000/38676 models, mean fold error: 13.759725506158336
Trained 5000/38676 models, mean fold error: 13.7078871875492
Trained 6000/38676 models, mean fold error: 14.08547982413439
Trained 7000/38676 models, mean fold error: 13.1866940895679
Trained 8000/38676 models, mean fold error: 14.142615202730045
Trained 9000/38676 models, mean fold error: 13.803076989006945
Trained 10000/38676 models, mean fold error: 13.51636634987881
Trained 11000/38676 models, mean fold error: 13.31841267430782
Trained 12000/38676 models, mean fold error: 12.8484524220572
Trained 13000/38676 models, mean fold error: 12.271904840395415
Trained 14000/38676 models, mean fold error: 11.988172455526682
Trained 15000/38676 models, mean fold error: 11.957895086290794
Trained 16000/38676 models, mean fold error: 11.68600471236713
Trained 17000/38676 models, mean fold error: 11.53033368701636
Trained 18000/38676 models, mean fold error: 11.372924481160524
Trained 19000/38676 models, mean fold error: 11.211773349269455
Trained 20000/38676 models, mean fold error: 11.393543825132777
Trained 21000/38676 models, mean fold error: 44.865281374308466
Trained 22000/38676 models, mean fold error: 43.30219509129888
Trained 23000/38676 models, mean fold error: 3120.6299740697086
Trained 24000/38676 models, mean fold error: 2990.999728975214
Trained 25000/38676 models, mean fold error: 12064.71219062635
Trained 26000/38676 models, mean fold error: 11736.369695616184
Trained 27000/38676 models, mean fold error: 11302.340609304343
Trained 28000/38676 models, mean fold error: 10899.346565217953
Trained 29000/38676 models, mean fold error: 10524.066202042033
Trained 30000/38676 models, mean fold error: 10173.894570750888
Trained 31000/38676 models, mean fold error: 9848.229812480986
Trained 32000/38676 models, mean fold error: 9540.867146662653
Trained 33000/38676 models, mean fold error: 21744.910773298467
Trained 34000/38676 models, mean fold error: 21105.719782521326
Trained 35000/38676 models, mean fold error: 20503.118077845036
Trained 36000/38676 models, mean fold error: 19934.01271943654
Trained 37000/38676 models, mean fold error: 19395.67752028871
Trained 38000/38676 models, mean fold error: 18885.58143643143
Mean fold error: 18895.766383406364
Trained 1000/38676 models, mean fold error: 16.632376098011843
Trained 2000/38676 models, mean fold error: 16.577373057694714
Trained 3000/38676 models, mean fold error: 14.13880743025961
Trained 4000/38676 models, mean fold error: 14.473582968273897
Trained 5000/38676 models, mean fold error: 14.47242811924889
Trained 6000/38676 models, mean fold error: 14.717571352180546
Trained 7000/38676 models, mean fold error: 13.79494406550564
Trained 8000/38676 models, mean fold error: 14.815787343650488
Trained 9000/38676 models, mean fold error: 14.528755476741216
Trained 10000/38676 models, mean fold error: 14.285775952717
Trained 11000/38676 models, mean fold error: 14.050567877865829
Trained 12000/38676 models, mean fold error: 13.487419749372092
Trained 13000/38676 models, mean fold error: 12.848090361302855
Trained 14000/38676 models, mean fold error: 12.52736941417214
Trained 15000/38676 models, mean fold error: 12.428138115189258
Trained 16000/38676 models, mean fold error: 12.12210241479071
Trained 17000/38676 models, mean fold error: 11.92423249092356
Trained 18000/38676 models, mean fold error: 11.745611126842334
Trained 19000/38676 models, mean fold error: 11.673221278496122
Trained 20000/38676 models, mean fold error: 11.627181966028838
Trained 21000/38676 models, mean fold error: 11.39082611512064
Trained 22000/38676 models, mean fold error: 11.28379890159192
Trained 23000/38676 models, mean fold error: 11.179895365612321
Trained 24000/38676 models, mean fold error: 11.068916505589335
Trained 25000/38676 models, mean fold error: 10.925314312344371
Trained 26000/38676 models, mean fold error: 10.80197278246697
Trained 27000/38676 models, mean fold error: 10.999531873992472
Trained 28000/38676 models, mean fold error: 11.25186025534343
Trained 29000/38676 models, mean fold error: 11.452736972529905
Trained 30000/38676 models, mean fold error: 11.700432618032814
Trained 31000/38676 models, mean fold error: 11.747768823396273
Trained 32000/38676 models, mean fold error: 11.78870538465567
Trained 33000/38676 models, mean fold error: 11.99114169511845
Trained 34000/38676 models, mean fold error: 12.004629511586677
Trained 35000/38676 models, mean fold error: 12.072678567098627
Trained 36000/38676 models, mean fold error: 12.171577175991922
Trained 37000/38676 models, mean fold error: 17.55903110532957
Trained 38000/38676 models, mean fold error: 17.40890456167618
Mean fold error: 17.413555208898444
Trained 1000/38676 models, mean fold error: 17.859901950941037
Trained 2000/38676 models, mean fold error: 17.379563852647273
Trained 3000/38676 models, mean fold error: 15.053040677949271
Trained 4000/38676 models, mean fold error: 15.177798992192916
Trained 5000/38676 models, mean fold error: 15.093850979474995
Trained 6000/38676 models, mean fold error: 15.209622471847922
Trained 7000/38676 models, mean fold error: 14.26577713037295
Trained 8000/38676 models, mean fold error: 15.269053506121947
Trained 9000/38676 models, mean fold error: 14.93392724066552
Trained 10000/38676 models, mean fold error: 14.753083384562725
Trained 11000/38676 models, mean fold error: 14.543106880780197
Trained 12000/38676 models, mean fold error: 13.899755737027746
Trained 13000/38676 models, mean fold error: 13.223656475356986
Trained 14000/38676 models, mean fold error: 12.821198052325155
Trained 15000/38676 models, mean fold error: 12.662734996767751
Trained 16000/38676 models, mean fold error: 12.31140550447623
Trained 17000/38676 models, mean fold error: 12.076000287452255
Trained 18000/38676 models, mean fold error: 11.878361074827945
Trained 19000/38676 models, mean fold error: 11.63196146964921
Trained 20000/38676 models, mean fold error: 11.531408402196542
Trained 21000/38676 models, mean fold error: 11.283380040593414
Trained 22000/38676 models, mean fold error: 11.120547727295497
Trained 23000/38676 models, mean fold error: 51.25065600833715
Trained 24000/38676 models, mean fold error: 49.42318229305487
Trained 25000/38676 models, mean fold error: 47.726715770053566
Trained 26000/38676 models, mean fold error: 46.14886157952788
Trained 27000/38676 models, mean fold error: 44.98375604960531
Trained 28000/38676 models, mean fold error: 43.99758527329248
Trained 29000/38676 models, mean fold error: 43.06713743714605
Trained 30000/38676 models, mean fold error: 42.22043152416524
Trained 31000/38676 models, mean fold error: 41.26196213202853
Trained 32000/38676 models, mean fold error: 40.36335380357072
Trained 33000/38676 models, mean fold error: 39.70313950375131
Trained 34000/38676 models, mean fold error: 38.884422422578325
Trained 35000/38676 models, mean fold error: 38.16592341555521
Trained 36000/38676 models, mean fold error: 37.51529236304505
Trained 37000/38676 models, mean fold error: 42.15670618215192
Trained 38000/38676 models, mean fold error: 41.354319650555034
Mean fold error: 40.92678248408552

6318.0355736997835

In [19]:
models = {}
for index, group in series.groupby(by=['SalOrg', 'Material']):
    train = group.loc[group.index.intersection(fold[1])]

    train_y = train[['OrderQtyLog'] + adv]
    train_x = train[features]

    model = Ridge(alpha=8)
    model.fit(train_x, train_y)
    models[index] = model

In [ ]:
lagged_final = lagged
lagged_final.append('OrderQtyLog')
lagged_final.pop(0)
fetures_final = lagged_final + sm_cols + m_cols + s_cols
fetures_final

In [ ]:
test_i = series[series["Month"]==pd.to_datetime('2017-03-01')].index

predictions = []
for index, group in series.groupby(by=['SalOrg', 'Material']):
    model = models[index]
    test = group.loc[group.index.intersection(test_i)]
    test_x = series.loc[test_i][fetures_final]
    test_prediction = model.predict(test_x)
    prediction = np.expm1(test_prediction)
    row = list(index) + list(prediction)
    predictions.append(row)
predictions

In [ ]:
pre_df = pd.DataFrame(predictions, columns=['SalOrg', 'Material', 'OrderQty(t+1)', 'OrderQty(t+2)','OrderQty(t+3)'])
ml = pd.melt(pre_df, id_vars=['Material', 'SalOrg'], value_vars=['OrderQty(t+1)', 'OrderQty(t+2)','OrderQty(t+3)'])
ml['date'] = ml.variable.replace({'OrderQty(t+1)':'2017-04', 'OrderQty(t+2)':'2017-05', 'OrderQty(t+3)':'2017-06'})
ml.head()

In [ ]:
result = eval.merge(ml, on=['Material', 'SalOrg', 'date'])
result

In [ ]:
result['demand'] = result['value']
result[['ID', 'demand']].to_csv('/dsg/linear_models_11.98.csv', index=False)